# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.db
*.pdb
*.suo
*.lastbuildstate
*.res
*.log
*.opendb
*.db-shm
*.db-wal
*.lik
*.idb
*.ilk
*.sarif
*.last
*.map
*.pf
*.avi
*.png
*.jpg
*.jpeg
*.mp4


# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


